.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #181C2e;
    position: fixed;
    height: 100%;
    overflow: auto;

}

.sidebar div {
    background: url('../../assets/cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    height: 150px;
}

.sidebar div {
    padding-top: 30px;
}

.sidebar div img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    -webkit-filter: drop-shadow(2px 3px 6px #121212);
    filter: drop-shadow(2px 3px 6px #121212);
    object-fit: cover;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out .4s;
}

.sidebar a svg {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #2c2f4a;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    .sidebar div {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    .sidebar a svg{
        display: none;
    }

}
